<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="Hi, I'm Prince Magbanua, a detail-oriented Front-end Developer. Explore my portfolio showcasing engaging UI and seamless user experiences.">
    <meta name="keywords" content="Prince Magbanua, Front-end Developer, UI, User Experience">
    <meta name="author" content="Prince Magbanua">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Prince Magbanua",
        "jobTitle": "Front-end Developer",
        "email": "pcimagbanua@gmail.com",
        "url": "https://www.your-portfolio-website.com"
      }
      </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
