<template>
  <q-page>
    <div class="full-width row items-center justify-center position-relative" >
      <div class="row col-12 justify-center items-center">
        <div class="col-12 absolute overflow-hidden" v-if="$q.dark.isActive" style="height:600px;">
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
        </div>
        <div class="col-12 row relative-position q-pt-sm" style="margin-bottom:80px;" >
              <div class="absolute-center">
                <q-img src="/IndexPage/portrait-circle.png" style="width:100px;height:100px;"></q-img>
              </div>
              <q-separator class="col-12" style="height:1px;"/> 
        </div>
        <div class="col-12 row q-pa-xl text-h5 text-bold text-center justify-center" style="max-width:1000px;">
              <!-- {{ $t('contact.lbl_hello') }} <br/> -->
              {{ $t('contact.lbl_thankYouForReachingOut') }}
        </div>
        <div class="col-12"></div>
        <div class="col-12 row q-col-gutter-md" style="max-width:900px;">
            <div class="col-6">  
              <q-input outlined  :rules="[val => !!val || 'Field is required']" v-model="contact.email" :label="$t('contact.lbl_email')">
              </q-input>
            </div>
            <div class="col-6">  
              <q-input outlined  :rules="[val => !!val || 'Field is required']" v-model="contact.name" :label="$t('contact.lbl_name')">
              </q-input>
            </div>
            <div class="col-12">  
              <q-input type="textarea" outlined  :rules="[val => !!val || 'Field is required']" v-model="contact.name" :label="$t('contact.lbl_message')">
              </q-input>
            </div>
        </div>
        <div class="col-12 justify-center row q-pt-xl" >
          <q-btn class="text-h6 q-px-lg" icon="send" @click="sendContact" outline no-caps rounded :loading="loading" >
            &nbsp;&nbsp;{{  $t('contact.lbl_sendMessage') }}
          </q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import emailjs from 'emailjs-com';

export default defineComponent({
    name: "ContactMe",
    data(){
      return {
        contact: {
          email: '',
          name: '',
          message: ''
        },
        loading: false
      }
    },
    methods: {
      sendContact() {
        const { email, name, message } = this.contact;
        this.loading = true
        // Configure the email parameters
        const emailParams = {
          serviceID: 'service_ivlgfod', // Specify the email service ID
          templateID: 'template_uii6jtq', // Specify the email template ID
          userID: '3xSvfd_2uJOeH5N-J', // Specify your user ID
          templateParams: {
            email: email,
            name: name,
            message: message
          }
        };
        try{
          emailjs.send(emailParams.serviceID, emailParams.templateID, emailParams.templateParams, emailParams.userID)
            .then((response) => {
              console.log('Email sent successfully:', response);
              this.loading=false;
            })
            .catch((error) => {
              console.error('Error sending email:', error);
              this.loading=false;
            });
        }catch(e){
          console.log('error sending:: ',e)
          this.loading=false;
        }
      }
    }
})
</script>

<style lang="scss">

</style>
