<template>
  <q-page >
    <div class="full-width row items-center justify-center position-relative" >
      
      <div class="row col-12 justify-center">
        
        <div class="col-12 absolute overflow-hidden" v-if="$q.dark.isActive" style="height:600px;">
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
        </div>
        
        <!-- <div class="col-12 absolute overflow-hidden" v-else="$q.dark.isActive" style="height:600px;">
            <div id='dark-stars'></div>
            <div id='dark-stars2'></div>
            <div id='dark-stars3'></div>
        </div> -->
        <div class="col-12 row q-py-xl" style="max-width:1200px;min-height:500px;">
          <div class="col-12 row q-pa-lg items-center q-py-xl" >
            <transition appear enter-active-class="animated fadeInUp">
            <div class="col-12 lt-md justify-center items-center row q-pa-md q-mb-md" style="min-width:200px;">
              <q-img src="/IndexPage/portrait-circle.png" style="width:250px;height:250px;"></q-img>
            </div>
            </transition>
            <transition appear enter-active-class="animated fadeInLeft">
              <div class="col-xs-12 col-md row justify-start items-center">
                <span class="responsive-h2 text-left col-12" > <!-- add a language below to change language when hovering over -->
                  {{ $t('lbl_hi').replace('$[name]', "Prince") }} 
                </span> <br/>
                <span class="responsive-h2 text-bold"> 
                  {{ $t('lbl_aFrontEndDeveloper') }}
                </span><br/>
                <span class="text-h6 q-pt-md"> 
                  {{ $t('lbl_imAlsoText') }} 
                </span><br/>   
                <div class="col-12 q-pt-md q-gutter-sm">
                  <!-- <q-btn rounded flat class="bg-primary text-white">{{ $t('home.lbl_skills') }}</q-btn>
                  <q-btn rounded flat class="bg-primary text-white">{{ $t('home.lbl_skills') }}</q-btn> -->
                </div>
              </div>
            </transition>
            <transition appear enter-active-class="animated fadeInRight">
            <div class="box col-shrink gt-sm justify-center items-center row q-pa-md q-mb-md" style="min-width:200px;">
              <q-img src="/IndexPage/portrait-circle.png" style="width:300px;height:300px;"></q-img>
            </div>
            </transition>
          </div>
        </div>
      </div>
      
      <!-- <q-card flat class="col-12 row justify-center q-my-xl q-py-xl" style="min-height:450px;">
        <div class="col-12 row items-center justify-center q-py-xl" style="max-width:1200px;">
            <WhyHireMe></WhyHireMe>
        </div>
      </q-card> -->
      <q-separator class="col-12" style="height:1px;"/>
      <div class="col-12 row items-center justify-center q-py-xl" style="min-height:600px;" >
        <div class="text-bold text-h4 col-12 text-center">
            {{ $t('home.lbl_websites') }}
        </div>
        <div class="col-12 q-py-lg  q-px-lg" style="font-size:1.3em;max-width:800px;">
            <div class="row full-width text-center justify-center">
              {{ $t('home.lbl_discoverWebsites') }} 
              <span class="q-pt-lg">
                {{ $t('home.lbl_someOfMyWorks') }} 
                <a href="/#/contact-me" class="a-effect text-secondary" style="text-decoration:none;">
                  {{ $t('home.lbl_here') }}
                  <q-icon name="open_in_new" size="0.5em" style="padding-bottom:12px;margin-left:-5px"></q-icon>
                </a>
              </span>
            </div>
            
        </div>
        <div class="row col-12 justify-center q-py-lg q-px-lg">
            <WebsitesSection></WebsitesSection>
        </div>
      </div>
      <q-card flat class="col-12 row justify-center q-my-xl q-py-xl" style="min-height:450px;">
        <div class="col-12 row items-center justify-center q-py-xl" style="max-width:1200px;">
            <WhyHireMe></WhyHireMe>
        </div>
      </q-card>
      <div class="col-12 row items-center justify-center q-py-xl q-px-lg" style="min-height:400px;">
        <div class="text-bold text-h4 col-12 text-center q-pb-md">
            {{ $t('home.lbl_skills') }}
        </div>
        
        <div class="col-12 q-py-lg text-center" style="font-size:1.3em;max-width:1200px;" v-html="$t('home.lbl_skillsContent')">
        </div>

        <SkillsSection />
      </div>
    </div>
  </q-page>
</template>

<script>
import SkillsSection from './IndexPage/SkillsSection.vue';
import { defineComponent } from 'vue';
import WhyHireMe from './IndexPage/WhyHireMe.vue';
import WebsitesSection from './IndexPage/WebsitesSection.vue';

export default defineComponent({
    name: "IndexPage",
    data() {
        return {
            icons: [
                { name: "HTML5", src: "html-5.png" },
                { name: "Javascript", src: "js.png" },
                { name: "Node.js", src: "node-js.png" },
                { name: "Sass", src: "sass.png" },
                { name: "Typescript", src: "typescript.png" },
                { name: "MySQL", src: "mysql.png" },
                { name: "C#", src: "c-sharp.png" }
            ]
        };
    },
    methods: {
        getIconPath(iconSrc) {
            return new URL(`../../public/icons/languages/${iconSrc}`, import.meta.url).href;
        }
    },
    components: { WebsitesSection, WhyHireMe, SkillsSection }
})
</script>

<style lang="scss">
</style>
