a.a-effect {
  color: $secondary;
  position: relative;
  text-decoration: none;
}

a.a-effect::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: $secondary;
  bottom: -1px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a.a-effect:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Presentational Styles */
// body {
// 	display: grid;
//   font-family: 'Poppins', sans-serif;
//   font-size: 27px;
//   font-weight: 700;
//   height: 100vh;
// 	place-items: center;
// }