.img-borderline-effect{
    img {
        --c: #8A9B0F; /* the border color */
        --b: 10px;    /* the border thickness*/
        --g: 5px;     /* the gap on hover */
        
        padding: calc(var(--g) + var(--b));
        --_g: #0000 25%,var(--c) 0;
        background: 
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
        var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
        conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
        0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
        transition: .3s, background-position .3s .3s;
        cursor: pointer;
    }
    img:hover {
        --_i: 100%;
        transition: .3s, background-size .3s .3s;
    }
}
.borderline-effect {
    --c: #8A9B0F; /* the border color */
    --b: 10px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
    var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
    0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}
.borderline-effect:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}
  
//   body {
//     background: #e8e9ba;
//     display: grid;
//     grid-gap: 40px;
//     height: 100vh;
//     margin: 0;
//     grid-auto-flow: column;
//     place-content: center;
//   }