<template>
    <div class="col-12 row text">
      <div class="col-12 row q-col-gutter-lg q-pl-lg q-pt-lg q-pb-lg">
        <div class=" text-h4 col-sm-12 text-center q-pb-lg">
            {{ $t('home.lbl_whyHireMe') }} <span class="text-bold"> {{ $t('home.lbl_frontEndDeveloper')}} </span>
        </div>
      </div>
      <div class="col-12 row items-start q-col-gutter-xl q-pl-lg q-pb-lg">
        <div class="col-sm-6 col-xs-12 row">
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_adaptableToEmergingTechnologies') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_adaptableToEmergingTechnologiesContent') }}
          </div>
        </div> 
        <div class="col-sm-6 col-xs-12 row">
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_collaborationTeamwork') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_collaborationTeamworkContent') }}
          </div>
        </div>
      </div>
      <div class="col-12 row items-start q-col-gutter-xl q-pl-lg q-pb-lg">
        <div class="col-sm-6 col-xs-12 row">
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_responsiveDesign') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_responsiveDesignContent') }}
          </div>
        </div> 
        <div class="col-sm-6 col-xs-12 row">
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_cleanMaintanableCode') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_cleanMaintanableCodeContent') }}
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'IndexPage',
  data(){
    return {
      websites: [
        {
          name: ''
        }
      ]
    }
  },
  methods: {
    getIconPath(iconSrc) {

    }
  }
})
</script>

<style lang="scss">

</style>
