<template>
    <div class="col-12 row q-py-lg items-start justify-evenly q-col-gutter-lg" style="max-width:900px;" >
          <div class="col-6 row">
            <span class="text-h6 col-12 text-center">
              {{ $t('home.lbl_languages') }}
            </span>
            <div class="col-12 row justify-center q-col-gutter-md q-pt-md q-pr-sm q-pb-sm">
              <div class="col-shrink column text-center grow-hvr-10" v-for="lang in languages">
                <q-img :src="lang.img" class="language-icon"></q-img>
                <span class="q-pt-sm"> {{ lang.label }}</span> 
              </div>
            </div>
          </div> 
          <div class="col-6 row">
            <span class="text-h6 col-12 text-center">
              {{ $t('home.lbl_frameworks') }}
            </span>
            <div class="col-12 row justify-center q-col-gutter-md q-pt-md q-pr-sm q-pb-sm">
              <div class="col-shrink column text-center grow-hvr-10" v-for="framework in frameworks">
                <q-img :src="framework.img" class="language-icon"></q-img>
                <span class="q-pt-sm"> {{ framework.label }}</span> 
            </div>
            </div>
          </div> 
          <div class="col-6 row">
            <span class="text-h6 col-12 text-center">
              {{ $t('home.lbl_other') }}
            </span>
            <div class="col-12 row justify-center q-col-gutter-md q-pt-md q-pr-sm q-pb-sm">
              <div class="col-shrink column text-center grow-hvr-10" v-for="other in others">
                <q-img :src="other.img" class="language-icon"></q-img>
                <span class="q-pt-sm"> {{ other.label }}</span> 
              </div>

            </div>
          </div> 
    </div>
</template>
<script>
import js from '/icons/languages/js.png'
import ts from '/icons/languages/typescript.png'
import cs from '/icons/languages/c-sharp.png'
import html from '/icons/languages/html-cropped.svg'
import css from '/icons/languages/css.svg'

import react from '/icons/languages/react-cropped.svg'
import node from '/icons/languages/node-js-abbv.svg'
import vue from '/icons/languages/vue-cropped.svg'
import quasar from '/icons/languages/quasar.svg'
import expo from '/icons/languages/expo.svg'
import jquery from '/icons/languages/jquery.svg'

import mysql from '/icons/languages/mysql.png'
import docker from '/icons/languages/docker.svg'
import postman from '/icons/languages/postman.svg'

export default{ 
    data(){
        return{
            languages: [
                { img: js, label: 'JavaScript' },
                { img: ts, label: 'TypeScript' },
                { img: cs, label: 'C#' },
                { img: html, label: 'HTML5' },
                { img: css, label: 'CSS3' },
            ],
            frameworks: [
                { img: react, label: 'ReactJS' },
                { img: node, label: 'NodeJS' },
                { img: vue, label: 'VueJS' },
                { img: quasar, label: 'Quasar' },
                { img: expo, label: 'React Expo' },
                { img: jquery, label: 'JQuery' }
            ],
            others:[
                { img: mysql, label: 'MySQL' },
                { img: docker, label: 'Docker' },
                { img: postman, label: 'Postman' }

            ]
        }
    }
}
</script>
<style lang="scss">
.language-icon{
  height:70px;
  width:70px;
}
</style>