<template>
    <div class="col-12 row q-pl-md q-pt-md justify-center" >
      
    <!-- <swiper 
      :key="forceUpdateKeySwiper"
      v-show="!expanded"
      :loop="true"
      :breakpoints="{
        '@1.00': {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        '@1.50': {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        '@1.60': {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      }"
      :spaceBetween="25"
      :navigation="expanded?false:true"
      :pagination="expanded?false:true"
      :modules="modules"
      class="mySwiper col-12"
    >
      <swiper-slide   v-for="website in websites" class="websites-wrapper"> 
        <transition appear 
        enter-active-class="animated fadeInLeft" 
        leave-active-class="animated fadeOutLeft">
          <q-card class="websites-card col-12">
            <div class="col-12 q-pa-xs">
              <div class="relative-position"  v-if="website.video && website.showVid" >
                <q-video class="full-width" :src="website.video" :ratio="16/9"></q-video>
                <div class="absolute" style="top:15px; left: 15px;">
                  <q-btn icon="chevron_left" class="bg-primary" @click="shrink(website)"></q-btn>
                </div>
              </div>
              <q-img v-else :src="website.thumbnail" position="0% 0%" style="" class="website-img">
                
                    <div v-if="website.video" class="absolute-full full-height view-text">
                    </div>
              </q-img>
            </div>
            <q-card class="absolute" style="bottom:0px;">
              <div class="col-12 row justify-between items-center text-h6 text-bold q-px-md q-pt-md">
                {{ $t(website.title) }}
                <q-btn outline rounded dense class="preview-btn q-px-md" @click="expand(website)">{{ $t('websites.lbl_preview') }}</q-btn>
              </div>
            
                <div class="col-12 q-px-md  q-pb-md view-content" >
                  {{ $t(website.content) }}
                </div>
            </q-card>
          </q-card>
        </transition>
      </swiper-slide>
      
    </swiper> -->
    
    <div class="q-col-gutter-lg col-12 row q-pr-lg justify-center" v-show="!expanded">
      <div class="col-xs-12 col-sm-6 col-md-4 grow-hvr" v-for="website in websites">
        <transition appear 
          enter-active-class="animated fadeInLeft" 
          leave-active-class="animated fadeOutLeft">
            <q-card class="websites-card col-12 ">
              <div class="col-12 q-pa-xs">
                <div class="relative-position"  v-if="website.video && website.showVid" >
                  <q-video class="full-width" :src="website.video" :ratio="16/9"></q-video>
                  <div class="absolute" style="top:15px; left: 15px;">
                    <q-btn icon="chevron_left" class="bg-primary" @click="shrink(website)"></q-btn>
                  </div>
                </div>
                <q-img v-else :src="website.thumbnail" position="50% 0%" style="" class="website-img">
                      <div v-if="website.video" class="absolute-full full-height view-text">
                      </div>
                </q-img>
              </div>
              <q-card class="absolute" style="bottom:0px;">
                <div class="col-12 row justify-between items-center text-h6 text-bold q-px-md q-pt-md">
                  {{ $t(website.title) }}
                  <q-btn outline rounded dense class="preview-btn q-px-md" @click="expand(website)">{{ $t('websites.lbl_preview') }}</q-btn>
                </div>
              
                  <div class="col-12 q-px-md  q-pb-md view-content" >
                    {{ $t(website.content) }}
                  </div>
              </q-card>
            </q-card>
          </transition>
      </div>
    </div>

    

    <!-- <transition appear enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutUp"> -->
      <q-card class="col-12 row" v-if="expanded" style="max-width:1600px;">
        <div class="relative-position col-12">
          <q-video class="full-width" :src="selectedWebsite.video" :ratio="16/9"></q-video>
          <div class="absolute" style="top:15px; left: 15px;">
            <q-btn icon="chevron_left" class="bg-primary" size="1.5em" @click="shrink(selectedWebsite)"></q-btn>
          </div>
        </div>
      </q-card>
    <!-- </transition> -->
    </div>
</template>
<script>
import { defineComponent } from 'vue'
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
import { Pagination, Navigation } from 'swiper';

import rserv from '/websites/rserv.jpg';
import uworld from '/websites/u&world.jpg';
import daypay from '/websites/daypay2.png';
import daypayAdmin from '/websites/daypayAdmin.png';
import ptc from '/websites/perfect-curve.png';
import wprophecy  from '/websites/wprophecy.png';
import wprophecyAdmin from '/websites/wprophecyAdmin.png';
import zenzic from '/websites/zenzic.png';

import rservVideo from '/videos/websites/rserv.mp4';
import uworldVideo from '/videos/websites/uworld.mp4';
import daypayVideo from '/videos/websites/daypay.mp4';
import daypayAdminVideo from '/videos/websites/daypayAdmin.mp4';
import ptcVideo from '/videos/websites/ptc.mp4';
import wprophecyVideo  from '/videos/websites/wprophecy.mp4';
import wprophecyAdminVideo from '/videos/websites/wprophecyAdmin.mp4';
import zenzicVideo from '/videos/websites/zenzic.mp4';

export default defineComponent({
  name: 'IndexPage',
  setup(){
    return {
      modules: [Navigation]
    }
  },
  data(){
    return {
      forceUpdateKeySwiper: 0,
      expanded: false,
      websites: [
        {
          thumbnail: daypay,
          video: daypayVideo,
          title: "websites.lbl_daypay",
          content: "websites.txt_daypayContent"
        },
        {
          thumbnail: daypayAdmin,
          video: daypayAdminVideo,
          title: "websites.lbl_daypayAdmin",
          content: "websites.txt_daypayAdminContent"
        },
        {
          thumbnail: rserv,
          video: rservVideo,
          title: "websites.lbl_rserv",
          content: "websites.txt_rservContent"
        },
        {
          thumbnail: uworld,
          video: uworldVideo,
          title: "websites.lbl_uandworld",
          content: "websites.txt_uandworldContent"
        },
        {
          thumbnail: wprophecy,
          video: wprophecyVideo,
          title: "websites.lbl_wprophecy",
          content: "websites.txt_wprophecyContent"
        },
        {
          thumbnail: wprophecyAdmin,
          video: wprophecyAdminVideo,
          title: "websites.lbl_wprophecyAdmin",
          content: "websites.txt_wprophecyAdminContent"
        },
        {
          thumbnail: zenzic,
          video: zenzicVideo,
          title: "websites.lbl_zenzic",
          content: "websites.txt_zenzicContent"
        },
        {
          thumbnail: ptc,
          video: ptcVideo,
          title: "websites.lbl_perfectCurve",
          content: "websites.txt_perfectCurveContent"
        },
      ]
    }
  },
  components:{
    Swiper,
    SwiperSlide
  },
  computed:{
    customSlideWidth(){
        return this.$q.screen.lt.md?'100%':'32.4%';
    }
  },
  methods: {
    expand(website) {
      this.selectedWebsite = website;
      this.expanded = true;
      this.$nextTick(()=>{this.forceUpdateKeySwiper = new Date().getTime()})
    },
    shrink(website) {
      this.selectedWebsite = website;
      this.expanded = false;
      this.$nextTick(()=>{this.forceUpdateKeySwiper = new Date().getTime()})
    }
  }
})
</script>

<style lang="scss">
.view-text{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}
.website-img{
  height:336px;
}
.view-content{
  height: 0px;
  padding-top:5px;
  overflow: hidden;
  opacity: 0;
  transition: height 0.2s, opacity 0.2s  linear;
}
.preview-btn{
  visibility:hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.2s linear;
}

.websites-wrapper{
  min-height:300px;
}
.websites-card:hover{
  .view-content{
    min-height: 80px;
    opacity: 1;
  }
  .preview-btn{
    visibility:visible;
    opacity: 1;
  }
  .view-text{
    visibility:visible;
    opacity: 1;
  }
}
</style>
