<template>
    <div class="col-12 row text-center">
      <div class="col-12 row q-col-gutter-lg q-pl-lg q-pt-lg q-pb-lg">
        <div class=" text-h4 col-sm-12 text-center q-pb-lg">
            {{ $t('home.lbl_whyHireMe') }} <span class="text-bold"> {{ $t('home.lbl_frontEndDeveloper')}} </span>
        </div>
      </div>
      <div class="col-12 row items-start q-col-gutter-xl q-pl-lg q-pb-lg">
        <div class="col-sm-6 col-xs-12 row ">
          <div class="col-12 q-pa-md text-center">
            <gear-svg class="hire-icon"></gear-svg> 
          </div>
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_adaptableToEmergingTechnologies') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_adaptableToEmergingTechnologiesContent') }}
          </div>
        </div> 
        <div class="col-sm-6 col-xs-12 row">
          <div class="col-12 q-pa-md text-center">
            <teamwork-svg class="hire-icon"></teamwork-svg> 
          </div>
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_collaborationTeamwork') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_collaborationTeamworkContent') }}
          </div>
        </div>
      </div>
      <div class="col-12 row items-start q-col-gutter-xl q-pl-lg q-pb-lg">
        <div class="col-sm-6 col-xs-12 row">
          <div class="col-12 q-pa-md text-center">
            <responsive-svg class="hire-icon"></responsive-svg> 
          </div>
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_responsiveDesign') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_responsiveDesignContent') }}
          </div>
        </div> 
        <div class="col-sm-6 col-xs-12 row">
          <div class="col-12 q-pa-md text-center">
            <clean-code-svg class="hire-icon"></clean-code-svg> 
          </div>
          <div class="text-bold text-h5 col-12">
            {{ $t('home.lbl_cleanMaintanableCode') }}
          </div>
          <div class="col-12" style="font-size:1.3em">
            {{ $t('home.lbl_cleanMaintanableCodeContent') }}
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import GearSvg from 'app/public/IndexPage/icons/gearSvg.vue';
import TeamworkSvg from 'app/public/IndexPage/icons/teamworkSvg.vue';
import CleanCodeSvg from 'app/public/IndexPage/icons/cleanCodeSvg.vue';
import ResponsiveSvg from 'app/public/IndexPage/icons/responsiveSvg.vue';
import { defineComponent } from 'vue'
export default defineComponent({
    name: "IndexPage",
    data() {
        return {
            websites: [
                {
                    name: ""
                }
            ]
        };
    },
    methods: {
        getIconPath(iconSrc) {
        }
    },
    components: { GearSvg, TeamworkSvg, CleanCodeSvg, ResponsiveSvg }
})
</script>

<style lang="scss">
.hire-icon{
  height:80px;
  width:80px;
  margin-top:15px;
  margin-bottom:15px;
}
</style>
