
<template>
    <q-menu  anchor="bottom middle" self="top middle"
        transition-show="jump-down"
        transition-hide="jump-up"
        class="no-shadow"
    >
        <q-list style="min-width: 50px">
            <q-item clickable v-for="lang in localeOptions" @click="locale=lang.value" v-close-popup dense class="text-center q-pa-sm">
                    <q-img :src="lang.icon" style="height:35px;width:35px;"></q-img>
            </q-item>
        </q-list>
    </q-menu>
  </template>
  
  <script>
  import { useI18n } from 'vue-i18n'
  import china from '/icons/navbar/locale/china.png';
  import japan from '/icons/navbar/locale/japan.png';
  import korea from '/icons/navbar/locale/korea.png';
  import thai from '/icons/navbar/locale/thai.png';
  import uk from '/icons/navbar/locale/uk.png';

  export default {
    setup () {
      const { locale } = useI18n({ useScope: 'global' })
  
      return {
        locale,
        localeOptions: [
          { value: 'en-US', label: 'English', icon: uk },
          { value: 'cn', label: 'Chinese', icon: china },
          { value: 'ja', label: 'Japanese', icon: japan  },
          { value: 'ko', label: 'Korean', icon: korea  },
          { value: 'th', label: 'Thai', icon: thai  }
        ]
      }
    }
  }
  </script>