body {
    background-color:#EEEEEE;
    color: $primary;
    transition: background-color 0.7s;
    .header-class,.text-dynamic-color{
      color: $primary;
    }
    .websites-card{
      box-shadow: #1818181c 1px 1px 5px;
    }
    .bg-grey-dynamic{
      background-color: #181818;
    }
    .dynamic-svg-dark{
      svg{
        fill: #181818 !important;
      }
    }
    .hire-icon{
      fill: #181818 !important;
    }
}

body.body--dark{
  background-color:#181818;
  transition: background-color 0.7s;
  .header-class,.text-dynamic-color{
    box-shadow: unset;
    color: white;
  }
  .bg-grey-dynamic{
    background-color: #1d1d1d;
  }
  .dynamic-svg-dark{
    svg{
      fill: white !important;
    }
  }
  .hire-icon{
    fill: white !important;
  }
}

.grow-hvr{
  &-5,&-10{
    transition: all .2s ease-in-out;
  }
  transition: all .2s ease-in-out;
}
.grow-hvr{
  &:hover{
    transform: scale(1.01);
  }
  &-5:hover{
    transform: scale(1.05);
  }
  &-10:hover{
    transform: scale(1.1);
  }
}