// @import '~quasar/src/css/variables.scss';
// $
$h1: 6rem;
$h2: 3.75rem;
$h3: 3rem;
$h4: 2.125rem;
$h5: 1.5rem;
$h6: 1.25rem;

.responsive-h2 {
    font-size: $h4; // Default font size for extra small screens
}

// Styles for medium screens
@media (min-width: $breakpoint-sm) {
    .responsive-h2 {
        font-size: $h4;
    }
}

// Styles for medium screens
@media (min-width: $breakpoint-md) {
    .responsive-h2 {
        font-size: $h3;
    }
}

// Styles for large screens
@media (min-width: $breakpoint-lg) {
    .responsive-h2 {
        font-size: 3.75rem;
    }
}
