// @import 'compass';

// n is the number of stars required
@function multiple-box-shadow($n,$clr) {
  $value: '#{random(2000)}px #{random(2000)}px #{$clr}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{$clr}';
  }
  @return unquote($value);
}

$shadows-dark-small: multiple-box-shadow(150, '#ffffff');
$shadows-dark-medium: multiple-box-shadow(50, '#ffffff');
$shadows-dark-big: multiple-box-shadow(20, '#ffffff');

$shadows-small: multiple-box-shadow(150, '#bfe6ff');
$shadows-medium: multiple-box-shadow(50, '#bfe6ff');
$shadows-big: multiple-box-shadow(20, '#bfe6ff');

html {
//   height: 100%;
//   background: radial-gradient(ellipse at bottom, $primary 0%, $primary 100%);
  
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 80s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1500px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 120s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 180s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#title {
  span {
    background: -webkit-linear-gradient(white, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


#dark-stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-dark-small;
  animation: animStar 80s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 1500px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-dark-small;
  }
}

#dark-stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-dark-medium;
  animation: animStar 120s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-dark-medium;
  }
}

#dark-stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-dark-big;
  animation: animStar 180s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-dark-big;
  }
}
