<template>
  <q-layout view="lhh Lpr lff" class="">
    <q-header flat class="bg-transparent justify-center row header-class q-py-lg">
      <q-toolbar style="max-width:1400px;">
        <q-toolbar-title class=" text-h5">
          Prince Magbanua
        </q-toolbar-title>
        
        <q-btn :icon="$q.dark.isActive?'img:icons/navbar/nightmode.svg':'img:icons/navbar/lightmode.svg'" size="1.5em" round flat 
          @click="()=>{
           toggleDark()
          }">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left"  self="center middle"
          class="text-center bg-transparent text-dynamic-color">{{ $t($q.dark.isActive?'navbar.lbl_darkMode':'navbar.lbl_lightMode') }}</q-tooltip>
        </q-btn>

        <q-btn class="dynamic-svg-dark q-ml-sm q-pa-md" round flat>
          <translate-svg></translate-svg>
          <q-tooltip transition-show="flip-right" transition-hide="flip-left"  self="center middle"
          class="text-center bg-transparent text-dynamic-color">
            {{ $t('navbar.lbl_translate') }}
          </q-tooltip>
           <language-switcher>

           </language-switcher>
          </q-btn>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Essential Links
        </q-item-label>

      </q-list>
    </q-drawer>

    <q-footer :class="`${$q.dark.isActive?'':'text-dark'} bg-transparent`">
      
      <div class="col-12" :style="{ 'margin-top':$q.screen.gt.sm?'40px':'80px'}">
        <q-img v-if="$q.dark.isActive" src="IndexPage/rectlight.svg" class="full-width" style="opacity:0.08; height:300px; max-height:300px;" ></q-img>
        <q-img v-else src="IndexPage/rectdark.svg" class="full-width" style="opacity:0.1; height:300px;max-height:300px;" ></q-img>
      </div>
      <div class="row full-width relative-position"  v-if="$route.meta.showContactFooter"
          :style="{
            'margin-bottom':$q.screen.gt.sm?'120px':'210px'
          }">
        <q-separator class="col-12" style="height:1px;"></q-separator>
        <q-card class=" row absolute-center justify-center items-center q-pa-lg" flat style="min-width:300px;">
            <div class="col-xs-12 col-md-4 text-h6 text-bold text-center q-pa-md">
              {{ $t('footer.lbl_contactMe') }}
            </div>
            <div class="col-xs-12 col-md-4 text-center q-pa-md">
              {{ $t('footer.lbl_interestedInHiringMe')  }}
            </div>
            <div class="col-xs-12 col-md-4 text-center q-pa-md" style="min-width:100px;">
              <q-btn to="/contact-me" outline icon="email" no-caps rounded class="q-pa-md">
                &nbsp;&nbsp;{{ $t('footer.lbl_sendAMessage') }}
              </q-btn>
            </div>

        </q-card>
      </div>
      <div v-else>
        <q-separator class="col-12" style="height:1px;"></q-separator>
      </div>
      <div class="row col-12 q-pa-lg q-col-gutter-lg" style="">
          <div class="col-xs-12 row text-caption justify-center q-pt-xl">
            <div class="col-12 text-center">   {{ $t('footer.lbl_thisWebsiteHasBeenCreated') }}</div>
            <div class="col-12 text-center">   
              {{ $t('footer.lbl_viewGitlabProjectHere') }} 
              <a href="https://gitlab.com/PrinceMackaroo/portfolio" class="a-effect text-secondary" style="text-decoration:none;">{{ $t('footer.lbl_here') }}</a>
            </div>
          </div>
          <div class="col-xs-12 row justify-center q-col-gutter-sm">
              <a href="https://www.linkedin.com/in/pci-magbanua" class="col-shrink row grow-hvr-10">
                <q-img src="icons/social/linkedin.svg"  class="social-icon" ></q-img>
              </a> 
              <a href="https://gitlab.com/PrinceMackaroo"  class="col-shrink row grow-hvr-10">
                <q-img src="icons/social/gitlab-cropped.svg" class="social-icon" ></q-img>
              </a> 
              <a href="https://discordapp.com/users/248046144263815168"  class="col-shrink row grow-hvr-10">
                <q-img src="icons/social/discord.svg" class="social-icon" ></q-img>
              </a> 
              <div class="col-12 text-center q-pt-xl">
                <a href="mailto:pcimagbanua@gmail.com" class="a-effect text-secondary" style="text-decoration:none;">
                  pcimagbanua@gmail.com
                </a>
              </div>
              <div class="col-12  text-center"> © 2023 Prince Magbanua </div>
          </div>
      </div>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { Dark, useQuasar } from 'quasar';
import EssentialLink from 'components/EssentialLink.vue'
import TranslateSvg from 'app/public/icons/navbar/TranslateSvg.vue';
import LanguageSwitcher from 'src/components/LanguageSwitcher.vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink,
    TranslateSvg,
    LanguageSwitcher
},

  setup () {
    const $q = useQuasar();
    const leftDrawerOpen = ref(false)
    function toggleDark(){
      Dark.set(!$q.dark.isActive);
    }
    return {
      toggleDark,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
<style lang="scss">
.social-icon{
  width:20px;
  height:20px;
  svg{
    fill: red !important;
  }
}
</style>